h1 {
    color: red;
}

.header {
    display: flex;
    border: 5px solid red;
    align-items: center;
}
.container {
    border: 2px solid red;
}

.container > div {
    text-align: center;
    flex: auto;
}

.container > .search {
    flex: 2;
    background-color: peachpuff;
}

.header > h1 {
    justify-content: start;
}

.pages {
    display: flex;
    flex-direction: column;
}