h1 {
    color: red;
}

.container {
    display: flex;
    border: 5px solid red;
    flex-direction: row;
}

.container > div {
    padding: 5px;
    flex: 1;
}

.container > .search {
    flex: 2;
    background-color: peachpuff;
}

.pages {
    display: flex;
    flex-direction: column;
}